{% extends "/base.html" %}
{% block content%}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/about1.jpg" alt="">
   <div class="page-section cta"> 
    <div class="container">
      <div class = "row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Your Values</span>
              <span class="section-heading-lower">Your Decision</span>
            </h2>
  
            <div class="intro">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/T_LH9SK4gek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="intro">
              <p>Happiness is the basic right of all the world’s citizens. Therefore, we created the tools to allow any individual to find his own notion of Happiness. At Happy Home we do not claim to corner the market on happiness, we just find the right source of happiness worldwide and then we make the world smaller. <i>At Happy Home We Bring You Home!</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}
