{% extends "/base.html" %}
{% block content%}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <div class="bg-faded p-5 d-flex mr-auto rounded">           
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Thank you!</span>
              <span class="section-heading-lower">Let us know what we are missing.</span>
            </h2>
          </div>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <div class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" id="multiline">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfc6KBtJrqnavgIfl_Q3hlsnfwDFRGITao_Ax0RTGcK8-bObQ/viewform?embedded=true" width="640" height="1413" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>
    <div class="product-item-description left-5 text-center bg-faded p-5 rounded">
      <div class="bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Explore</span>
        </h2>
        <p><b>Thank You!</b></p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}




