{% extends "/base.html" %}
{% block content%}

      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="cta-inner text-center rounded">
          
                <h2 class="section-heading mb-0">
                  <span class="section-heading-upper">Explore What Matters</span>
                  <span class="section-heading-lower">To <b>You</b>!</span>
                </h2>

              <div class="bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Explore</span>
                </h2>
                <p>Select those values <b>You</b> see as important to <b>Happiness</b>. **Corruption is seen as a negative statistic and will be subtracted from the overall total. Scores are normalized for this purpose.</p>
              </div>
            </div>


              <div class="container">
                <div class="intro">
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/Question.jpg" alt="">
                  <div class="intro-text right-0 text-allign bg-faded p-5 rounded">

                      <div class="container">

                              <div class="row">
                                <form action = "/happyForm" method = "POST">
                                  <fieldset>
                                    <legend>What is important to you?</legend>
                                      </fieldset>
                                      <div class="cta-inner text-allign rounded">
                                          <div>
                                          <input type="checkbox" id="happiness" name="important" value="happiness">
                                          <label for="happiness">Overall Happiness</label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="gdp" name="important" value="gdp">
                                          <label for="gdp">GDP              </label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="socialSupport" name="important" value="socialSupport">
                                          <label for="socialSupport">Social Support   </label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="lifeExpectancy" name="important" value="lifeExpectancy">
                                          <label for="lifeExpectancy">Life Expectancy  </label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="freedom" name="important" value="freedom">
                                          <label for="freedom">Freedom          </label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="generosity" name="important" value="generosity">
                                          <label for="generosity">Generosity</label>
                                          </div>
                                          <div>
                                          <input type="checkbox" id="corruption" name="important" value="corruption">
                                          <label for="corruption">Corruption       </label>
                                          </div>
                                          <div>
                                            <input type="checkbox" id="other" name="interest" value="other">
                                            <label for="other">Other</label>
                                            <input type="text" id="otherValue" name="other">
                                          </div>
                                          <div>
                                          <button type="submit">Submit form</button>
                                          </div>
      
                                      </div>                                    
                                    </fieldset>
                                </form>
                              </div>

                      </div>

                  </div>    
                </div>
              </div>



          </div>
        </div>
      </section>
            <!-- Script to capture checkboxes -->
            <script>
              var otherCheckbox = document.querySelector('input[value="other"]');
              var otherText = document.querySelector('input[id="otherValue"]');
              otherText.style.visibility = 'hidden';
      
              otherCheckbox.addEventListener('change', () => {
              if(otherCheckbox.checked) {
                  otherText.style.visibility = 'visible';
                  otherText.value = '';
              } else {
                  otherText.style.visibility = 'hidden';
              }
              });
            </script>
{% endblock content %}