{% extends "/base.html" %}
{% block content%}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Home</span>
            <span class="section-heading-lower">Our Purpose</span>
          </h2>
          <p class="mb-3">COVID-19 changed the world and the way we live in it. What did not change, are the factors that bring us all <b>Happiness</b>, no matter where we live in the world. At Happy Home we have gathered data from the World Happiness Report, an annual culmination of sentiment results taken by Gallup World Poll surveys. Our data allows the user to travel the world looking for the values that bring her the most happiness, in an informative, intuitive, and easy to use format.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
    <div class = "row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">A Word From</span>
            <span class="section-heading-lower">The Developers</span>
          </h2>

          <div class="intro">
              <video class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" controls>
                <source src="/static/img/HappyHome.mp4" type=video/mp4>
              </video>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">And Vision</span>
            </h2>
            <p class="mb-0">As developers we want our product to become a hub for people looking to live outside of their home country. We accomplish this by providing easy to understand graphics with a fountain of country specific information. Users can explore values such as GDP, Freedom and even corruption. We have tools relevant not only to individuals, but companies, and realtors as well.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
