{% extends "/base.html" %}
{% block content%}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Home</span>
            <span class="section-heading-lower">Our Purpose</span>
          </h2>
          <p class="mb-3">Every citizen of the world has been impacted by the effects of COVID-19 in some fashion. Many have been forced to work from home. We present a set of concrete statistical data based on averages of sentiment captured during the pandemic. Our users will be able to explore prospective living destinations based on values that they choose. Users will also be offered the choice of different visual formats based on selected fields of interest.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
     <div class = "row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">A Word From</span>
            <span class="section-heading-lower">The Developers</span>
          </h2>

          <div class="intro">
              <video class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" controls>
                <source src="/static/img/HappyHome.mp4" type=video/mp4>
              </video>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">And Vision</span>
            </h2>
            <p class="mb-0">As developers we want our product to become a hub for people looking to live outside of their home country. To become a hub our product will combine easy to understand graphics with a plethora of country specific information. To become a true hub we will link to other sources that cover the countries within our database like blogs, realtors, and government websites.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
