{% extends "/base.html" %}
{% block content%}

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Information About Our</span>
              <span class="section-heading-lower">Data</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/bg1.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Our data comes from scores and rankings taken from the Gallup World survey. The Happiness Score is calculated from the following values: GDP Per Capita, Healthy Life Expectancy, Social Support, Freedom to Make Life Choices, Generosity, Corrupion Perception, and Residual Error.   </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Our data value</span>
              <span class="section-heading-lower">Descriptions</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/barChart.jpeg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0"><strong>Overall Happiness:</strong> Measured through surveys that require participants to rank their level of happiness based on an assortment of quality-of-life factors.<br>
              <strong>GDP:</strong> Gross Domestic Product, the total value of goods produced and services provided in a country during one year.<br>
              <strong>Social Support:</strong> The provision of assistance of comfort to others, typically to help them cope with biological, psychological, and social stressors.<br>
              <strong>Life Expectancy:</strong> The average period that a person may expect to live.<br>
              <strong>Freedom:</strong> The power or right to act, speak, or think as one wants without hinderance or restraint.<br>
              <strong>Generosity:</strong> The quality of being kind and generous.<br>
              <strong>Corruption:</strong> Dishonest or fraudulent conduct by those in power. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">We All Want</span>
              <span class="section-heading-lower">Happiness</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/lineChart.jpeg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Happiness is important to everyone. At Happy Home we give you the tools to explore the values that are important to you, so you can find your best location.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">You Have the Choice</span>
              <span class="section-heading-lower">Find Your Happiness</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/totals.jpeg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">By clicking the <b>Find Your Home</b>, you will be given the opportunity to choose the values important to you, your business and your family.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}
