{% extends "/base.html" %}
{% block content%}
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">We all want</span>
              <span class="section-heading-lower">Happiness</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/lineChart.jpeg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Happiness is important to everyone. At Happy Home we explore the values that are important to you and find the best location.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">We all deserve</span>
              <span class="section-heading-lower">Freedom</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/barChart.jpeg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Freedom to live as you choose is important to making a Happy Home.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Information About Our</span>
              <span class="section-heading-lower">Data</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/products-03.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Our data comes from scores and rankings taken from the Gallup World survey. The Happiness Score is calculated from the following values: GDP Per Capita, Healthy Life Expectancy, Social Support, Freedom to Make Life Choices, Generosity, Corrupion Perception, and Residual Error.   </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Our data value</span>
              <span class="section-heading-lower">Desciptions</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/img/barChart.jpeg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Overall Happiness: Measured through surveys that require participents to rank their level of happiness based on an assortment of quality-of-life factors.
              GDP: Gross Domestic Product, the total value of goods produced and services provided in a country during one year.
              Social Support: The provision of assistance of comfort to others, typically to help them cope with biological, psychological, and social stressors.
              Life Expectancy: The average period that a person may expect to live.
              Freedom: The power or right to act, speak, or think as one wants without hinderance or restraint.
              Generosity: The quality of being kind and generous
              Corruption: Dishonest or fraudulent conduct by those in power. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
